
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	font-family: tahoma;
	font-size: 16px;
}
#main{
	width: 1407px;
	height: 600px;
	margin: 0px auto;

}


/*  menu- */

.menu{
	background: black;
	width: 100%;
	height: 100px;
	  margin-bottom: 50px;
}

.menu > div.header{

	background: white;

	padding-left: 50px;
}
div.logo {
	width: 160px;
	height: 100px;
	float: left;

}
.logo > img{
	width: 160px;
	height: 100px;

	object-fit: cover;

	cursor: pointer;

	
}

.root > li > a >i{
	margin-right: 20px;
	color: black;
	font-size: 20px;
	
}
.ti-angle-down{
	font-size: 15px;
	color: #ccc;
	margin-left: 5px;
	font-weight: bold;
}

ul.root > li{
	list-style: none;
	float: left;
	font-weight: bolder;
	

}
ul.root > li > a{
	text-decoration: none;
	text-transform: uppercase;
	color: #808080;
	padding: 0px 15px;
	line-height: 100px;
	display: block;


}
ul.root > li > a:hover{
	color: aquamarine;
	transition: ease-in 0.35s;
   -moz-transition: ease-in 0.35s;
   -webkit-transition: ease-in 0.35s;
}

 ul.submenu{
 	width: 250px;
 	background: white;
 	min-width: 150px;
 	display: none;

 }
 ul.submenu li{
 	list-style: none;
 }
 ul.submenu li a{
  	color: black;
  	text-decoration: none;
  	display: block;
  	text-indent: 30px;
  	border-top: 1px solid #ccc;
  	line-height: 40px;
  	text-transform: uppercase;
}
ul.root > li:hover ul.submenu{
	display: block;
}
ul.root > li > a > i:hover{
	color: aquamarine;
}
 ul.submenu li a:hover {
 	background: orange;
    color: red;
    transition: ease-in 0.35s;
   -moz-transition: ease-in 0.35s;
   -webkit-transition: ease-in 0.35s;
 }


.header_right{
	width: 690px;
	height: 100px;
	float: left;
	background: white;
	padding-left: 100px;
}
.header_right div{
	margin-left: 246px;
}
.header_right li {
	list-style: none;
	float: left;
	line-height: 100px;
}
.header_right > div > li >i {
	margin-right: 10px;
}
.submenu_right div > li.text2 > a > i{
	color: black;
}
.header_right div > li.text2 > a > i:hover{
	cursor: pointer;
	color: aquamarine;
}
.text2 a,
.text1 a {
	color: #808080;
	margin-right: 10px;
	text-transform: uppercase;
}
.v-r{
	width: 1px;
	height: 50px;
	background: #808080;
	float: left;
	margin-top: 20px;
	margin-right: 10px;
}
.text1 a {
	margin-right: 20px;
}
.text2 a:hover,
.text1 a:hover{
	color: black;
}
.header_right li a{
	text-decoration: none;
}
.ti-tablet,
.ti-shopping-cart{
	margin-left: 10px;
	font-size: 20px	;
	color: black;
}





/*content*/
.content{
	width: 100%;
	height: 300px;
	text-transform: uppercase;
	background-color: #d9d9d9;

}
.content h1{
	margin-top: -50px;
	margin-bottom: 50px;
	font-weight: 100;
}
.content > h1 > a:hover{
	color: black;
	
}
.content a {
	text-decoration: none;
	color: #b3b3b3;
}
.content p {
	text-align: center;
	margin-bottom: 20px;
	text-transform: none;
}

.content button{
	font-weight: bold;
	color: white;
	background-color: #003380;
}
.content button:hover{
	background:#002966 ;
	color: yellow;
}
